%ul
  %li
    File
    %i.fa.fa-arrow-right
    Add account
    %i.fa.fa-arrow-right
    XMPP (Jabber)
    %ul
      %li
        Jabber ID:
        = reveal "user-jid"
      %li
        Password:
        = reveal "user-password"
  %li
    File
    %i.fa.fa-arrow-right
    Join Group Chat
    %ul
      %li
        Account:
        = reveal "user-jid"
      %li
        Chat room name:
        = reveal "room-name"
      %li
        Server:
        = reveal "room-host"
