- content_for :javascript do
  = javascript_include_tag "//cdn.jsdelivr.net/jquery.unveiljs/1.3.0/jquery.unveil.min.js"
  :javascript
    $('img').unveil(200);

.gallery
  - @images.each do |image|
    .image
      - if image.url =~ %r(^/home)
        = image_tag("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data: { src: "//#{XMPP_HOST}/ftp?" + { name: Pathname.new(image.url).basename }.to_query }, alt: "Credit: #{image.credit}", title: "Credit: #{image.credit}")
      - else
        = image_tag("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", data: { src: image.url }, alt: "Credit: #{image.credit}", title: "Credit: #{image.credit}")
