.row#candyContainer
  .col-md-9
    %iframe#candy( width="100%" height="100%" src="#{candy_path}" frameBorder="0" scrolling="no" allowTransparency="true" style="background-color: transparent;")
  .col-md-3
    %h5 To connect your own XMPP/Jabber client
    %p
      %b User:
      = "#{current_user.xmpp_username}@#{XMPP_HOST}"
    %p
      %b Password:
      = current_user.xmpp_password
    %p
      %b Group chat:
      main@conference.#{XMPP_HOST}

    - uri = "xmpp:main@conference.#{XMPP_HOST}?join;jid=#{current_user.xmpp_username};password=#{current_user.xmpp_password}"
    =# link_to uri, uri, target: "_blank"

    %hr/

    %p.pull-right
      = link_to "Logout", destroy_user_session_path, method: :delete

- content_for :javascript do
  :javascript
    console.log('a')
    $(function() {
      console.log('b')
      resizeIframe = function() {
        totalAvailable = $( window ).height();
        console.log('totalAvailable', totalAvailable);

        // Find all the children of the parent element
        allChildren = $('#candyContainer').parent().children()

        // Get the heights of every one that isn't the one we're interested in
        otherHeights = 0;
        allChildren.each(function(i) {
          $element = $(this);
          console.log('element', $element, this)
          if (!$element.is('#candyContainer')) {
            console.log('c', $element.outerHeight(true))
            otherHeights += $element.outerHeight(true);
          }
        });

        console.log('final', totalAvailable - otherHeights - 60)

        // Set our new height
        $('#candyContainer iframe').height(totalAvailable - otherHeights - 20);
      }

      $(window).resize(resizeIframe);
      resizeIframe();
    })
